.article-container {
    width: 80%;
    /* margin: 60px auto; */
    padding: 20px 40px;
    background: #fff;
    box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
  }
  
.nav-container {
    position: fixed;
    right: 11px;
    top: 120px;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transform: translate(0, 0);
    transition: transform 500ms ease;
    width:12%;
    /* text-overflow:ellipsis; */
    white-space:nowrap
}